/* Formatação CSS */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background: #2a7ae4;
  background-size: 100vw 100vh;
  font-family: 'Roboto', sans-serif;

  height: 100vh;
  font-size: 12px;
}

/* Se na tela estiver pelo menos 400px, vai carregar esses estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* breakpoint */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

/* breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

header {
  height: 60vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: #2a7ae4;
  font-family: 'Comic Neue', cursive;
  font-weight: 700;
  font-size: 18px;
  position: fixed;
  top: 0;
  width: 100vw;
}

.menu li {
  list-style: none;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

/* Aumentando área de clique */
.menu a {
  display: block;
  padding: 15px 20px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: underline;
}

.site-subtitle,
.site-title {
  font-family: 'Comic Neue', cursive;

  text-align: center;
  color: #fff;
}

.site-title {
  font-size: 4em;
}

.site-subtitle {
  font-style: italic;
}

.projects {
  background: #fcfdff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  padding: 2em;
}

.projects h2 {
  font-family: 'Comic Neue', cursive;
  font-size: 2em;
  font-weight: 700;
  color: #2a7ae4;
  margin-bottom: 2em;
  text-align: center;
}

.projects .grid-projects {
  display: grid;
  gap: 2em;

}

@media (min-width: 560px) {
  .projects .grid-projects {
    grid-template-columns: repeat(2, 260px);
    justify-content: center;

  }
}

@media (min-width: 880px) {
  .projects .grid-projects {
    grid-template-columns: repeat(3, 260px);
    justify-content: center;
  }
}

.projects figure {
  text-align: center;
}

.img-port {
  width: 240px;
  height: 180;
  border-radius: 10px;  

  object-fit: contain;
}

@media (min-width: 1200px) {
  .img-port {
    height: 240px;
    width: 300px;
  }

  .projects .grid-projects {
    display: grid;
    gap: 150px;
  }
}